@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Poiret+One);
body {
    background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/883759_518954336047_1085460432_o.jpg");
    background-repeat: no-repeat;
	background-color: #cccccc;
	background-position: center;
	background-position: 0% 0%;
	padding-top: 25px;
	background-size: 2000px;
	color: #ffe6cc;
	text-align: center;
	margin: 0;
}
h1 {
	font-size: 30px;
	margin-bottom: 5px;
	font-family: 'Poiret One', Arial, serif; 
	font-weight: 400;
	letter-spacing: -2px;
}
#slogan {
	font-size: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Poiret One', Arial, serif; 
	font-weight: bold;
	letter-spacing: -2px;
	word-spacing: -3px;
}
#content {
	font-family: 'Raleway', Arial, serif; 
	font-weight: 500;
}
ul {
	list-style-type: none;
	font-family: 'Raleway', Arial, serif; 
	font-weight: 500;

}
#textbox {
	background-color: black;
	opacity: 0.7;
	margin-right: 500px;
	margin-left: 500px;
	margin-top: 50px;
	padding: 25px;

}
#footer {
    position : fixed;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: ivory;
	font-family: 'Raleway', Arial, serif; 
	font-weight: 500;
	padding: 10px;
  }
#footer a {
	margin: auto;
	color: black;
	}